.login-box {
    border-radius: 15px;
    height: 80vh;
    width: 70vw; 
    background-color: #202225;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.register {
    color: teal;
    text-decoration: underline;
    cursor: pointer;
}

.login-button {
    color: teal;
    background-color: teal;
}

.text-field {
    background-color: #292B2F;
    color: white;
}

