.login-box {
    border-radius: 15px;
    height: 80vh;
    width: 70vw; 
    background-color: #292B2F;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.login-text {
    padding: 10px;
}

.register {
    color: #0ef;
    text-decoration: underline;
    cursor: pointer;
}