.sidebar-box {
    display: flex;
    flex: 0.3;
    flex-direction: column;
    height: 100vh;
}

.sidebar-header {
    background-color: #292B2F;
    border-style: solid;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    flex: 0.1;
}

.sidebar-friends {
    border-style: solid;
    flex: 0.9;
    overflow: scroll;
}

::-webkit-scrollbar:horizontal{
    display: none;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 10px;
}
  
  
  /* Handle */
  /* set the color of the scrollbar and the radius of its corners */
  
  ::-webkit-scrollbar-thumb {
    background: rgb(150, 150, 150);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  
  /* Handle on hover */
  /* set the color of the scrollbar when hovered over */
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(131, 131, 131);
  }
  
  
  /* Handle on active */
  /* set the color of the scrollbar when clicked */
  
  ::-webkit-scrollbar-thumb:active {
    background: rgb(104, 104, 104);
  }
  

.button {
    color: white;
    padding-right: 5px;
}

.button-text {
    color: white;
}