* {
    margin: 0;
    font-family: 'Cabin';
}

.App {
    background-color: #202225;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 100vh;
}  